@media ( max-width: 1200px )
  .container
    max-width: 950px

  .navbar
    &__button
      padding: 8px 25px 6px 25px
      min-width: 180px
      font-size: 13px
    &__logo
      width: 130px
      height: 31.9px
      &-img
        width: 130px
        height: 31.9px
    &__hero
      max-width: 950px
      top: 70px

  .tabs
    &-utp
      &__category
        margin-top: 40px
    &-item
      width: 100%
      &--visible
        width: 100%

  .thanks
    padding-top: 220px

@media ( max-width: 992px )
  .container
    max-width: 720px

  .navbar
    &-list
      display: none
      &__item
        margin: 6px auto
        &:last-child
          margin: 6px auto
      &__link
        font-size: 17px
    &__button
      padding: 13px 25px 10px 25px
      display: none
      font-size: 12px
    &-burger
      display: block
    &__hero
      max-width: 720px

  .tabs
    flex-direction: column
    &-utp
      &__title
        max-width: 634px
    &-item
      justify-content: flex-end
      padding: 33px 43px 33px 43px
      height: 424px
      &--visible
        padding: 33px 43px 33px 43px
        height: 424px
    &-button
      max-width: 720px
      &__item
        &:nth-child(4)
          display: none
        &:nth-child(5)
          display: none

  .burger-modal
    display: block
    z-index: 160

  .thanks
    padding-top: 400px

@media ( max-width: 768px )
  .container
    max-width: 90%

  .navbar
    &__logo
      width: 110px
      height: 26.99px
      &-img
        width: 110px
        height: 26.99px
    &__hero
      max-width: 90%

  .tabs
    &-item
      padding: 30px 55px 30px 30px
      height: 290px
      &--visible
        padding: 30px 55px 30px 30px
        height: 290px
      &__user
        display: none
    &-utp
      &__title
        margin: 0 0 25px 0
        max-width: 100%
        font-size: 28px
        line-height: 35px
      &__button
        &::after
          top: 15px
          right: 19px
    &-button
      &__recomendation
        &-title
          font-size: 12px

  .thanks
    padding-top: 290px

@media ( max-width: 480px )
  .navbar
    &__hero
      min-height: auto

  .modal
    &__dialog
      padding: 30px 27px 40px 27px
      max-width: 90%

  .tabs
    min-height: auto
    &-item
      padding: 20px 18px 20px 18px
      height: 200px
      &--visible
        padding: 20px 18px 20px 18px
        height: 200px
    &-utp
      &__title
        margin: 0 0 15px 0
        font-size: 19px
        line-height: 22px
        max-width: 100%
      &__category
        font-size: 10px
        margin-bottom: 15px
      &__button
        font-size: 11px

  .thanks
    padding-top: 200px

@media ( min-width: 992px )
  .button
    &:hover
      background-color: lighten($active-color, 15%)
  // Main Page

  // Header
  .navbar
    &__button
      &:hover
        background-color: $active-color
    &-list
      &__link
        &:hover
          color: $active-color

  .modal
    &-checkbox
      &__label
        &:hover
          background-color: lighten($active-color, 15%)

  .tabs
    &-button
      &__item
        transition: background-color 0.4s ease
        &:hover
          background-color: #F5F5F5

@media ( max-height: 576px )
  .modal
    &__dialog
      max-height: 90vh
  .burger
    &-modal
      &--visible
        overflow: auto
