@media ( max-width: 1200px )
  .container
    max-width: 950px

  .navbar
    &__button
      padding: 8px 25px 6px 25px
      min-width: 180px
      font-size: 13px
    &__logo
      width: 130px
      height: 31.9px
      &-img
        width: 130px
        height: 31.9px
    &__hero
      max-width: 950px
      top: 70px

  .tabs
    &-utp
      &__category
        margin-top: 40px
    &-item
      width: 100%
      &--visible
        width: 100%

  .thanks
    padding-top: 220px

  .articles-livehack
    padding-top: 125px
    &__card
      margin: 10px 0
      width: 420px
      justify-content: flex-start
    &__img
      margin-right: 20px
      order: -1
    &__link
      &:nth-child(3)
        &::before
          height: 1px
          left: 0 !important
          right: 0
          width: auto
      &:nth-child(2)
        &::after
          left: -30px !important
      &:nth-child(4)
        &::before
          left: -30px !important
  .articles
    &-cards
      grid-template-columns: 1fr 1fr 1fr
      grid-template-rows: 170px 170px 1fr 1fr 1fr 1fr
      grid-template-areas: 'one one check' 'one one tags' 'two three tags' 'two three social' 'four five six' 'seven seven seven'
    &-three
      &__img
        width: 100%
    &-card
      &__date
        margin-top: 10px

  .hot-news
    &__title
      margin: 71px 0 0 0
      font-size: 35px
      line-height: 40px

@media ( max-width: 992px )
  .container
    max-width: 720px

  .navbar
    &-list
      display: none
      &__item
        margin: 6px auto
        &:last-child
          margin: 6px auto
      &__link
        font-size: 17px
    &__button
      padding: 13px 25px 10px 25px
      display: none
      font-size: 12px
    &-burger
      display: block
    &__hero
      max-width: 720px

  .tabs
    flex-direction: column
    &-utp
      &__title
        max-width: 634px
    &-item
      justify-content: flex-end
      padding: 33px 43px 33px 43px
      height: 424px
      &--visible
        padding: 33px 43px 33px 43px
        height: 424px
    &-button
      max-width: 720px
      &__item
        &:nth-child(4)
          display: none
        &:nth-child(5)
          display: none

  .burger-modal
    display: block
    z-index: 160

  .thanks
    padding-top: 400px

  .articles-livehack
    padding-top: 340px
    &__link
      &::before
        content: ''
        display: block
        position: absolute
      &::after
        content: ''
        display: block
        position: absolute
      &:nth-child(3)
        &::before
          right: 30px
    &__card
      width: 320px

  .articles
    &-cards
      grid-template-columns: 1fr 1fr
      grid-template-rows: 170px 170px 170px 170px 1fr 1fr
      grid-template-areas: 'one one' 'one one' 'two three' 'two three' 'four tags' 'five tags' 'six seven' 'check social'
    &-social
      padding: 31px 66px 20px 66px
      &__link
        margin-top: 41px

  .hot-news
    &__title
      margin: 80px 0 0 0
      font-size: 27px
      line-height: 35px

@media ( max-width: 768px )
  .container
    max-width: 90%

  .navbar
    &__logo
      width: 110px
      height: 26.99px
      &-img
        width: 110px
        height: 26.99px
    &__hero
      max-width: 90%

  .tabs
    &-item
      padding: 30px 55px 30px 30px
      height: 290px
      &--visible
        padding: 30px 55px 30px 30px
        height: 290px
      &__user
        display: none
    &-utp
      &__title
        margin: 0 0 25px 0
        max-width: 100%
        font-size: 28px
        line-height: 35px
      &__button
        &::after
          top: 17px
          right: 19px
    &-button
      &__recomendation
        &-title
          font-size: 12px

  .thanks
    padding-top: 290px

  .articles-livehack
    padding-top: 200px
    &__link
      width: 100%
      &:nth-child(2)
        &::after
          width: auto !important
          height: 1px !important
          left: 0 !important
          right: 0 !important
      &:nth-child(3)
        &::before
          right: 0 !important
      &:nth-child(4)
        &::before
          width: auto !important
          height: 1px !important
          left: 0 !important
          right: 0 !important
    &__card
      width: 100%
      justify-content: flex-start

  .articles
    &-livehack
      &__link
        &:nth-child(2)
          &::after
            display: block
    &-cards
      grid-template-columns: 1fr 1fr
      grid-template-rows: 170px 170px 170px 170px 170px 170px 1fr 1fr 1fr
      grid-template-areas: 'one one' 'one one' 'two two' 'two two' 'three tags' 'three tags' 'four five' 'six seven' 'check social'
    &-one
      padding: 15px 0 13px 25px
      &__top
        &-title
          margin: 66px 0 0 0
          font-size: 20px
        &-description
          font-size: 13px
          line-height: 20px
        &-img
          margin-top: 94px
          width: 200px
          height: 205px
      &__bottom
        &-title
          margin: 2px 0 0 5px
          font-size: 12px
    &-tags
      padding: 25px 17px 30px 17px
    &-check
      &__text
        &-title
          font-size: 15px
    &-social
      padding: 23px 26px 23px 26px
      &__icons
        max-width: 200px
      &__link
        margin-top: 45px
    &-card
      &__title
        font-size: 14px
      &__description
        font-size: 12px
        line-height: 16px

  .hot-news
    &__title
      font-size: 19px
      line-height: 30px

@media ( max-width: 576px )

  .articles
    &-cards
      grid-template-columns: 1fr
      grid-template-rows: 437px 1fr 1fr auto 150px 150px
      grid-template-areas: 'one' 'two' 'three' 'tags' 'check' 'four' 'five' 'six' 'seven' 'social'
    &-one
      &::before
        bottom: 65px
      &__top
        flex-direction: column
        &-right
          display: flex
          justify-content: flex-end
        &-title
          margin: 56px 0 0 0
          font-size: 18px
          line-height: 25px
          max-width: 310px
        &-description
          margin: 20px 0 0 0
          line-height: 18px
          max-width: 310px
          font-size: 12px
        &-img
          margin-top: 0
          width: 166px
          height: 170px
      &__bottom
        align-items: center
        height: 54px
        &-text
          flex-wrap: wrap
        &-title
          margin: 5px 0 0 0
          order: 3
        &-name
          margin-top: 7px
          order: 1
      &__comments
        margin: 9px 0 0 16px
        order: 2
        width: 70px
    &-three
      padding-bottom: 15px
    &-check
      &::before
        top: 14px
    &-social
      &__link
        margin-top: 27px
      &__icons
        max-width: 200px

  .tabs
    &-utp
      &__button
        &::after
          top: 15px

  .hot-news
    &__title
      margin: 90px 0 0 0
      font-size: 16px
      line-height: 25px

@media ( max-width: 480px )
  .navbar
    &__hero
      min-height: auto

  .modal
    &__dialog
      padding: 30px 27px 40px 27px
      max-width: 90%

  .tabs
    min-height: auto
    &-item
      padding: 20px 18px 20px 18px
      height: 200px
      &--visible
        padding: 20px 18px 20px 18px
        height: 200px
    &-utp
      &__title
        margin: 0 0 15px 0
        font-size: 19px
        line-height: 22px
        max-width: 100%
      &__category
        font-size: 10px
        margin-bottom: 15px
      &__button
        font-size: 11px

  .thanks
    padding-top: 200px

  .articles-livehack
    padding-top: 110px

  .hot-news
    &__title
      font-size: 13px
      line-height: 22px
      max-width: 100%
    &__button
      margin-top: 15px

  .button-active
    padding: 10px 47px 8px 19px
    font-size: 12px
    &::before
      top: 13px

@media ( min-width: 1200px )
  .articles
    &-livehack
      &__link
        &::after
          top: -25px !important
          left: -25px !important
          right: -26px !important
        &::before
          top: -25px !important
          bottom: -30px !important
          left: -25px !important
          right: -26px !important

@media ( min-width: 992px )
  .button
    &:hover
      background-color: lighten($active-color, 15%)
  // Main Page

  // Header
  .navbar
    &__button
      &:hover
        background-color: $active-color
    &-list
      &__link
        &:hover
          color: $active-color

  .modal
    &-checkbox
      &__label
        &:hover
          background-color: lighten($active-color, 15%)

  .tabs
    &-button
      &__item
        transition: background-color 0.4s ease
        &:hover
          background-color: #F5F5F5

  .articles
    &-one, &-two, &-three, &-four, &-five, &-six, &-seven
      position: relative
      &::after
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        border-radius: 10px
        background-color: $darken-text-color
        opacity: 0
        z-index: 200
        transition: opacity 0.2s ease
      &:hover
        &::after
          opacity: 0.2
    &-check
      &__button
        &:hover
          background-color: lighten(#3BBDC4, 15%)
    &-tags
      &__buttons
        &-item
          &:hover
            background-color: darken($light-text-color, 15%)
    &-social
      &__img
        &:hover
          opacity: 0.6

  .articles-livehack
    &__link
      &::before
        content: ''
        position: absolute
        display: block
        left: -30px
        top: -25px
        bottom: 0
        right: -31px
        height: auto
        width: auto
        background-color: $light-text-color
        opacity: 0
        transition: opacity 0.2s ease
      &::after
        content: ''
        position: absolute
        display: block
        left: -30px
        top: 0
        bottom: -30px
        right: -31px
        height: auto
        width: auto
        background-color: $light-text-color
        opacity: 0
        transition: opacity 0.2s ease
      &:hover
        &::after
          opacity: 0.3
        &::before
          opacity: 0.3

@media ( max-height: 576px )
  .modal
    &__dialog
      max-height: 90vh
  .burger
    &-modal
      &--visible
        overflow: auto
