=Lato($font-weight, $font-style, $font-size, $line-height)
  font-family: "Lato", 'Helvetica', sans-serif
  font-weight: $font-weight
  font-style: $font-style
  font-size: $font-size
  line-height: $line-height

=Lato($font-weight, $font-style, $font-size, $line-height)
  font-family: "Roboto Slab", 'Helvetica', sans-serif
  font-weight: $font-weight
  font-style: $font-style
  font-size: $font-size
  line-height: $line-height
