.articles-livehack
  padding-top: 155px
  &__container
    padding: 25px 25px 30px 25px
    background-color: $dark-background
    display: flex
    justify-content: space-between
    border-radius: 10px
    flex-wrap: wrap
  &__link
    text-decoration: none
    position: relative
    &:nth-child(3)
      &::before
        width: 1px
        height: 100%
        top: 0 !important
        left: -26px !important
        background-color: #4B5157
        opacity: 1
    &:nth-child(4)
      &::before
        width: 1px
        height: 100%
        top: 0 !important
        left: -26px !important
        background-color: #4B5157
        opacity: 1
    &:nth-child(1)
      &::after
        display: none
    &:nth-child(2)
      &::after
        width: 1px
        height: 100%
        top: 0 !important
        left: -26px !important
        background-color: #4B5157
        opacity: 1
  &__card
    position: relative
    display: flex
    align-items: center
    width: 234px
    min-height: 75px
  &__title
    margin: 0
    +Lato(13px)
    color: $light-text-color
    line-height: 20px
  &__img
    width: 65px
    height: 65px
    object-fit: cover
