.navbar
  background-color: $dark-background
  &__container
    min-height: 545px
  &__nav
    display: flex
    justify-content: space-between
    align-items: center
    min-height: 70px
  &__logo
    width: 163px
    height: 40px
    &-img
      width: 163px
      height: 40px
  &-list
    display: flex
    flex-wrap: wrap
    &__item
      margin: 0 30px 0 0
      color: $light-text-color
      &:last-child
        margin: 0
  &__button
    padding: 12px 15px 11px 15px
    min-width: 261px
    color: $light-text-color
    border: none
    background-color: #656b70
    border-radius: 10px
    text-transform: uppercase
    +Lato(14px)
    cursor: pointer
    transition: background-color 0.2s ease
    outline: none
  &-burger
    display: none
    width: 26px
    height: 21px
    cursor: pointer
    &__item
      width: 26px
      height: 3px
      border-radius: 1.5px
      background-color: $light-text-color
      display: block
      &:nth-child(1)
        transform: translateY(0px)
      &:nth-child(2)
        transform: translateY(6px)
      &:nth-child(3)
        transform: translateY(12px)
      &--active
        &:nth-child(1)
          animation: openBurgerFirst
          animation-duration: 1s
          animation-fill-mode: forwards
        &:nth-child(2)
          animation: openBurgerSecond
          animation-duration: 1s
          animation-fill-mode: forwards
        &:nth-child(3)
          animation: openBurgerThird
          animation-duration: 1s
          animation-fill-mode: forwards
      &--hidden
        &:nth-child(1)
          animation: closeBurgerFirst
          animation-duration: 1s
          animation-fill-mode: forwards
        &:nth-child(2)
          animation: closeBurgerSecond
          animation-duration: 1s
          animation-fill-mode: forwards
        &:nth-child(3)
          animation: closeBurgerThird
          animation-duration: 1s
          animation-fill-mode: forwards
  &__hero
    position: absolute
    top: 100px
    left: 50%
    transform: translateX(-50%)
    width: 1140px
    min-height: 570px
    border-radius: 10px
    overflow: hidden
    background-color: $light-text-color

.tabs
  display: flex
  width: 100%
  min-height: 570px
  &-item
    padding: 55px 55px 100px 55px
    width: 877px
    display: flex
    flex-direction: column
    justify-content: space-between
    background-image: url('../img/main/header/hero/David-Gurov-article.jpg')
    background-repeat: no-repeat
    object-fit: cover
    background-size: cover
    &__img
      margin-right: 10px
      width: 45px
      height: 45px
      border-radius: 50%
    &__user
      display: flex
    &__text
      margin-top: 7px
      display: flex
      flex-direction: column
    &__name
      +Lato(14px)
      color: $light-text-color
      opacity: 0.85
    &__profession
      margin-top: 5px
      +Lato(12px)
      color: $light-text-color
      opacity: 0.4
  &-utp
    &__category
      +Lato(12px)
      margin-bottom: 21px
      color: $active-color
      text-transform: uppercase
      display: inline-block
      letter-spacing: 0.5px
    &__title
      margin: 0 0 49px 0
      +Roboto-Slab(40px)
      max-width: 598px
      color: $light-text-color
      line-height: 50px
    &__button
      position: relative
      display: inline-block
      text-decoration: none
      outline: none
      padding: 13px 47px 11px 20px
      &::after
        content: ''
        position: absolute
        display: block
        top: 17px
        right: 22px
        background-image: url('../img/main/header/hero/arrow-read-more.png')
        background-repeat: no-repeat
        width: 15px
        height: 7px
  &-button
    max-width: 263px
    &__recomendation
      padding: 23px 25px 21px 25px
      position: relative
      &::after
        content: ''
        width: 100%
        height: 1px
        background-color: #D9DADB
        position: absolute
        bottom: 0
        left: 0
      &-title
        margin: 0
        +Lato(14px)
        font-weight: 800
        color: $darken-text-color
        text-transform: uppercase
        letter-spacing: 0.5px
    &__item
      padding: 19px 25px 19px 25px
      height: 100px
      position: relative
      cursor: pointer
      &::after
        content: ''
        width: 100%
        height: 1px
        background-color: #D9DADB
        position: absolute
        bottom: 0
        left: 0
      &:last-child
        height: 100%
        &::after
          width: 0
          height: 0
    &__title
      margin: 0
      +Lato(12px)
      font-weight: 800
      text-transform: uppercase
      letter-spacing: 0.5px
      &--color
        &_one
          color: #3BBDC4
        &_two
          color: #6E99AE
        &_three
          color: #AC8EE3
        &_four
          color: #FFA34D
        &_five
          color: #3DC47E
    &__description
      margin-top: 9px
      +Lato(14px)
      line-height: 20px
      display: inline-block

.burger-modal
  display: none
  position: fixed
  top: 70px
  bottom: 0
  left: 0
  right: 0
  transform: translateX(150vh)
  visibility: hidden
  background-color: #282F36
  &--visible
    transform: translateX(0)
    visibility: visible
    transition: visibility 0.5s ease, transform 0.5s ease
  &--hidden
    transform: translateX(150vh)
    visibility: hidden
    transition: visibility 0.5s ease, transform 0.5s ease
  &__wrapper
    padding-top: 30px
    display: block
    height: 340px

.navbar
  &-list
    &--visible
      display: flex !important
      flex-direction: column
      align-items: center
      transition: all 0.5s ease
      text-align: center
  &__button
    &--visible
      margin: 20px auto 0 auto
      display: block !important
      transition: all 0.5s ease

@keyframes openBurgerFirst
  0%
    transform: translateY(0px)
  50%
    transform: translateY(9px) rotate(0deg)
  100%
    transform: translateY(9px) rotate(-45deg)

@keyframes openBurgerSecond
  0%
    transform: translateY(6px)
  50%
    opacity: 1
  51%
    opacity: 0
    visibility: hidden
  100%
    opacity: 0
    visibility: hidden
    transform: translateY(6px)

@keyframes openBurgerThird
  0%
    transform: translateY(12px)
  50%
    transform: translateY(3px) rotate(0deg)
  100%
    transform: translateY(3px) rotate(45deg)

@keyframes closeBurgerFirst
  0%
    transform: translateY(9px) rotate(-45deg)
  50%
    transform: translateY(9px) rotate(0deg)
  100%
    transform: translateY(0px)

@keyframes closeBurgerSecond
  0%
    opacity: 0
    visibility: hidden
    transform: translateY(6px)
  50%
    opacity: 0
    visibility: hidden
  51%
    opacity: 1
  100%
    transform: translateY(6px)

@keyframes closeBurgerThird
  0%
    transform: translateY(3px) rotate(45deg)
  50%
    transform: translateY(3px) rotate(0deg)
  100%
    transform: translateY(12px)
